.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
}
.storybook-button p{
  line-height: 24px;
  text-transform: uppercase;
  margin: 0px;
}
.storybook-button--primary {
  color: white;
  background-color: #295EFF;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 8px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 16px 24px;
}
.storybook-button--large {
  font-size: 24px;
  padding: 24px;
}
